<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="lib/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="lib/css/syntax.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
      	<h1><a href="http://github.com/jfarrell"><img width="48" height="48" alt="" src="https://secure.gravatar.com/avatar/af098aef4b223bab6e160764775647be?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png"></a>
      	jfarrell</h1>
        <ul>
          <li><a href="http://twitter.com/eatfresh"><img src="lib/images/Twitter.png"/></a></li>
		  <li><a href="http://github.com/jfarrell"><img src="lib/images/Github.png"/></a></li>
		  <li><a href="http://boston.redsox.mlb.com"><img src="lib/images/Redsoxs.png"/></a></li>
        </ul>
      </header>
      <div id="content">
        {{ content }}
      </div>
      <footer id="footer">
        <a href="http://www.acquia.com">Acquia</a> &bull;
        <a href="http://thrift.apache.org">Apache Thrift</a> &bull;
      </footer>
    </div>
  </body>
</html>
